*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-origin: content-box;
}
.back{
    width: 30%;
    height: 100%;
    position: relative;
    overflow: hidden;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(199, 187, 187);

}
.listbox{
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    top: 30%;
    border: 2px solid black;
}
.container{
    background-color: rgba(238, 230, 230, 0.301);
    padding: 1px;
    border-radius: 20px;
    transition: 1s;
    width: 1000px;
    height: 100%;
    border: 2px dotted black;

h3{
    text-align: center;
}
}
h1{
    position: relative;
    color:white;
    margin: 50px 0px;
    font-size: 60px;
}
.bikes{
    
}
ul.list{
    margin: 0 ;
    padding: 0;
}
.list {
    transition: transform 512ms;
    transition-timing-function:cubic-bezier(0.18, 0.89, 0.32, 1.28) 
}
li{
    text-align: center;
    width: 100%;
    padding: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style-type: none;
}
.button{
    position: absolute;
    top: 85%;
}
button{
    margin: 5px;
}